.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

#one {
    grid-column: 1/4;
    grid-row: 1;
}

#three {
    grid-column: 1/2;
    grid-row: 2;
}

#five {
    grid-column: 2/4;
    grid-row: 2;
}

#one,
#two,
#three,
#four,
#five {
    background-color: gray;
    height: 100px;
}